## Simple example of reading a public BigQuery dataset
- credentials for Google authentication have to be requested 
  - [create a project](https://console.cloud.google.com/cloud-resource-manager)
  - [enable API](https://console.cloud.google.com/flows/enableapi?apiid=bigquery)
  - there is a free plan, no payment or billing info is required

In [2]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../../My Project-acf3f95cbe44.json"

from google.cloud import bigquery
client = bigquery.Client()

In [4]:
query = (
    "SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013` "
    'WHERE state = "TX" '
    "LIMIT 10"
)
query_job = client.query(
    query,
    # Location must match that of the dataset(s) referenced in the query.
    location="US",
)  # API request - starts the query

for row in query_job:  # API request - fetches results
    # Row values can be accessed by field name or index
    assert row[0] == row.name == row["name"]
    print(row)

Row(('Frances',), {'name': 0})
Row(('Alice',), {'name': 0})
Row(('Beatrice',), {'name': 0})
Row(('Ella',), {'name': 0})
Row(('Gertrude',), {'name': 0})
Row(('Josephine',), {'name': 0})
Row(('Lula',), {'name': 0})
Row(('Blanche',), {'name': 0})
Row(('Marjorie',), {'name': 0})
Row(('Christine',), {'name': 0})

In [7]:
# converting to Pandas dataframe: 
df= client.query(query).to_dataframe()
df

        name
0    Frances
1      Alice
2   Beatrice
3       Ella
4   Gertrude
5  Josephine
6       Lula
7    Blanche
8   Marjorie
9  Christine